@import (css) url(https://fonts.googleapis.com/css?family=Lato);

#antd::before,
#antd::after,
#antd *::before,
#antd *::after {
  all: unset;
}

#antd {
  @import '~antd/lib/style/core/index.less';
  @import '~antd/lib/style/themes/default.less';

  .hsButton {
    position: static;
    padding: 8px 16px;
    width: 240px;
    height: 40px;

    background-color: #1890FF;
    border-radius: 2px;

    /* Inside Auto Layout */
    margin-top: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -1px;

    cursor: pointer;
    z-index: 2;
  }
}
